@model IEnumerable<IMS.WebMvc.Models.DirectoryViewModel>

@{
    ViewBag.Title = "Index";
}

<p>
    <a href='@Url.Action("Create", "Directory")' class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
        Contact
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumbers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumbers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            <a href='@Url.Action("Edit","Directory", new { id = item.Id })' class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href='@Url.Action("Delete","Directory", new { id = item.Id })' class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
}
</table>

@section scripts {
    <script src="~/Scripts/app/directory/directoryCtrl.js"></script>
}


